<launch>

  <!-- Load joint controller configurations from YAML file to parameter server  -->
  <rosparam file="$(find trikey_control)/config/trikey_control.yaml" command="load"/>
 

  <!-- load the controllers  -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/trikey" args="wheel0_effort_controller
                                       wheel1_effort_controller
                                       wheel2_effort_controller
                                       joint_state_controller"/>
 

  <!-- publish joints TFs for Rviz (TODO move to Gazebo launch file) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="/joint_states" to="/trikey/joint_states" />
  </node>
 

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
   <remap from="/joint_states" to="/trikey/joint_states" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find trikey_description)/rviz/wheel_control_bringup.rviz"/>
  

</launch>
